.appbar__top { 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 40%;
    align-items: center !important;
    width: 50px;
}
.appbar__top > .MuiSvgIcon-root { 
    color:  rgb(203, 203, 203) !important;
}

.appbar__bottom { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 60%;
    color: black;
}
