.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
    margin-top: 10px;
  
}
.header__left {
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.header__left > img { 
    object-fit: contain;
    height: 40px;
    margin-left: 5px;
}
.header__middle { 
    display: flex;
    flex: 0.7;
    align-items: center;
    background-color: #ebf1fb;
    padding: 10px;
    border-radius: 30px;
    margin-left: 17px;
    height: 30px;
}
.header__middle > input { 
   
    border: none;
    width: 100%;
    padding: 10px;
    background-color: transparent;
    outline-width: 0;
    font-size: medium;
    height: fit-content;
    
}
.header__right { 
    display: flex;
    padding-right: 12px;
}
.header__avatar { 
    height: 30px !important;
    width: 30px !important;
    border: 3px solid; 
    border-top-color: #D34836; /* Red */
    border-right-color: #4285F4; /* Yellow */
    border-bottom-color: #2ECC71; /* Green */
    border-left-color: #F1C40F; 
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden !important;
     /* Optional: Add padding to the content inside the border */
}
.header__avatar:hover { 
    cursor: pointer;
}