.login { 
display: flex;
flex-direction: column;
height: 100vh;
width: 100vw;
background-color: white;
background-image: url("https://images.unsplash.com/photo-1699155758832-a80cdffc17e7?q=80&w=3771&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
background-size: cover;
}
.login__header {
    display: flex;
    justify-content: end;
    padding: 10px;
}
.login__headerButton {
        border-radius: 5px !important;
        height: 40px !important;
        width: 15vw !important;
        margin-right: 50px !important;
        color: white !important;
        font-size: 14px !important;
    background-color: #1a73e8 !important;
}

.login__headerButton:hover {
   background-color: #184ea6 !important;
}
.login__container {
    display: flex;
    flex-direction: column;
align-items: center;
justify-content: center;
}
.login__container > img { 
    object-fit: contain;
    height: 200px;
}

.login__button { 
color:black !important;
border-color: black !important;
border: 1px solid black !important;
border-color: black !important;
height: 40px !important;
width: 15vw !important;
margin: 5px !important;
}

.login__button > img { 
    padding-left: 20px;
    
}

