.register { 
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100vw;
    background-color: white;
    background-image: url("https://images.unsplash.com/photo-1435575653489-b0873ec954e2?q=80&w=3870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");   
    background-size: cover;
    font-family: sans-serif;
}
.register__container { 
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    border-color: gray;
}
.register__container > h2 {
    font-weight: 400;
    padding-bottom: 10px;
}
.register__container > p {
    font-size: 14px;
    color: #1a73e8;
}
.register__form { 
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    font-size: 14px;
}
.register__form > input { 
    margin-top: 5px;
    height: 40px;
    width: 300px;
    outline: none;
    border: 1px solid black ;
    border-radius: 5px;
    background-color: transparent;
    justify-items: center;
    padding-left: 10px;

}
.register__form > p{
    font-family: sans-serif;
    padding-top: 10px; 
}
.register__form > p > a {
    text-decoration: none;
    color: #1a73e8;
    font-weight: bold;
}
.register__form > p > a:hover {
    cursor: pointer;
   color: #184ea6;

}
.register__container > Button {
    margin-top: 30px;
    text-transform: capitalize;
    color:white;
    border-radius: 5px;
    background-color: #1a73e8;
    width: 15vw;
}
.register__container > Button:hover {
    color:white;
    border-radius: 5px;
    background-color: #184ea6;
}