.section{
    display: flex;
    align-items: center;
    border-bottom-width: 2px !important;
    padding: 15px;
    width: 100%;
    cursor: pointer;
    color: black !important;
    border-width: 0 !important;
    font-family: sans-serif;
    font-size: 14px !important;
    border-bottom:1px solid #0b57d0;
}
.section--active { 
    background-color: white;
    border-width: 0 !important;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    

}
.section > .MuiSvgIcon-root { 
    font-size: medium;
    padding-right: 10px;
    color: gray;
}
.section:hover { 
    background: whitesmoke;
    border-width: 3px !important;

}