.sendMail { 
    position: absolute;
    z-index: 999;
    bottom: 0px;
    right: 60px;
    background-color: white;
    width: 40%;
    height: auto;
    max-width: 500px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 7px 0px rgba(0 , 0 , 0 , 0.24);
}
.sendMail__header { 
    display: flex;
    justify-content: space-between;
    padding: 13px;
    padding-left: 13px;
    align-items: center;
    background-color: #f6f8fc;
}
.sendMail__headerLeft { 
    color: black;
    flex: 0.8;
    font-family: sans-serif;
    
}
.sendMail__headerLeft > h3 { 
    font-weight: 400;
}
.sendMail__headerRight { 
    display: flex;
    flex: 0.2;
    align-items: center;
    justify-content: space-evenly;

}
.sendMail__headerRight > .MuiSvgIcon-root { 
    font-size: medium !important;
    color: black;
    stroke: black;
    cursor: pointer;
}
.sendMail > form { 
    display: flex;
    flex-direction: column;
    flex: 1;
}
.sendMail__send {
    display: flex;
    color: white !important;
    flex: 0.3;
    font-weight: bold !important;
    text-transform: capitalize !important;
    background-color: #0b57d0 !important;
    width: 10px !important;
    border: 2px solid whitesmoke !important;
    border-radius: 20px !important;
}
.sendMail__send > .MuiSvgIcon-root { 
    padding-left: 10px;
    color: white !important;
}
.sendMail > form > input { 
    height: 30px;
    padding: 10px;
    padding-left: 13px;
    border: none;
    border-bottom: 1px solid whitesmoke;
    outline: none;
}
.sendMail__message { 
    width: auto ;
    height: 250px;
    padding-left: 13px;
    padding-top: 20px;
    resize: none;
    border: none;
    outline: none;
    font-family: sans-serif;
}
.sendMail__options { 
    display: flex;
    flex-direction: row;
    flex: 0.8;
    align-items: center;
    justify-content: space-evenly;
    padding: 2px;
    margin-bottom: 10px;
}
.sendMail__options > .MuiSvgIcon-root { 
    font-size: large !important;
    color: black !important;
    cursor: pointer;
}
.sendMail__delete  { 
    flex: 0.1;
    padding-left: 30px;

}